---
title: Home
---
<!doctype html>
<html id="landing-page">
<head>
    {% include head.html %}
</head>
<body>
    <!-- side navigation -->
    <div id="side-navbar">
        <div class="side-button">
            <div class="bar1"></div>
            <div class="bar2"></div>
        </div>
    </div>

    <!-- Click side nav-->
    <aside id="side-menu">
        <div class="aside-section aside-left">
            <ul class="aside-list">
                {% for item in site.data.navigation %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}{% endif %} class="aside-anchor">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="aside-section aside-right">
            <div class="aside-content">
                <h1>Let's get in touch</h1>

                <div id="contact-side-nav">
                    <img src="/assets/images/me.jpg" alt="Aaron Chiu Photo">
                
                    <!-- Contact -->
                    <div>
                        <div class="footer-sections">
                        <h3 class=contact>Contact Information</h3>
                        <p class=contact>chiua10@mcmaster.ca<br>
                        <strong>Cell:</strong>  (647) 283-2389</p>
                        </div>

                        <!-- Social Media -->
                        <div class="footer-sections">
                        <h3 class=contact>Social Media</h3>
                        <a href="https://www.facebook.com/profile.php?id=100018624766241" class="fa fa-facebook"></a>
                        <a href="https://www.linkedin.com/in/aaron-chiu/" class="fa fa-linkedin"></a>
                        </div>
                    </div>	                    
                    
                    <div>
                        <div class="footer-sections">
                        <h3 class=contact>Permanent Address</h3> 
                        <p class=contact>Brampton, ON, L6X 2Z9 <br> Canada</p>
                        </div>
                        
                        <div class="footer-sections">
                        <h3 class=contact>Current Address</h3> 
                        <p class=contact>Hamilton, ON, L8S 3L4 <br> Canada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <!-- Header -->
        <section id="hero-header" data-aos="fade">
        <!-- <section id="hero-header"> -->
            <div id="hero-title-container">
                <p  id="hero-title"
                    data-aos="fade-right"
                    data-aos-delay="1500"
                >   Aaron Chiu, <br> Automotive Engineer in Training, <br> Emphasizing Quality & Productivity
                </p>
            </div>
        </section>


        <!-- About -->
        <section id="about-container" data-aos="about-container" data-aos-duration="1500">
        <!-- <section id="about-container"> -->
            <div id="about-text" data-aos="about-text">
            <!-- <div id="about-text"> -->
                <h1>"To apply future engineering approaches to current transportation technologies."</h1>
                <h2>About</h2>
                <p>Land, air and sea. Vehicles are everywhere. We take our surroundings for granted but never thoroughly think about how such machines came to fruition. I always wonder how these vehicles ever worked in the first place. My interest in this field drives me to discover and teach more people about the technologies’ effectiveness and impact.</p>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills-container" data-aos="skills-container" data-aos-duration="1500">
            <div id="skills-text" data-aos="fade-left">
                <h1>Experience in<br>
                    <span
                        class="txt-rotate"
                        data-period="1200"
                        data-rotate='[ "Solidworks.", "Materials Testing.", "Statistical Software.", "Mechanical Design.", "Finance." ]'>
                    </span>
                </h1>
                <h2>Brief Summary</h2>
                <p style="margin-bottom:10px">With my proficiency in Solidworks, AutoCAD, CATIA, in addition to interpreting geometric and numeric constraints in technical drawings give me the necessary skills for designing and communicating technical concepts and ideas.</p>

                <p style="margin-bottom:10px">I more than 40 hours of materials testing experience such as Rockwell and Vickers Hardness tests, I know various treatments and their effects on ferrous and non-ferrous alloys, properties of polymers, and composite materials. This knowledge helps me choose the right material for the job.</p>

                <p>My knowledge in both mechanical design and material properties will aid my ambitions in motive power, transportation technologies, and heavy industries.</p>
            </div>
        </section>

        <!-- Education -->
        <!-- <section id="timeline-section">
            <h1 class="title">Education</h1>
                <div class="timeline">
                    <div class="container left"  data-aos="swing-in-right-fwd-timeline">
                        <div class="content">
                            <h2 style="margin-top:0" class="timeline-font">Expected Completion December 2022</h2>
                            <h3 class="timeline-font">McMaster University</h3>
                            <h4 class="timeline-font">Bachelor of Technology in Automotive & Vehicle Engineering Technology (Co-op)</h4>
                            <p class="timeline-font">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                        <div class="content">
                            <h2 style="margin-top:0" class="timeline-font">Expected Completion December 2022</h2>
                            <h3 class="timeline-font">McMaster University</h3>
                            <h4 class="timeline-font">Bachelor of Technology in Automotive & Vehicle Engineering Technology (Co-op)</h4>
                            <p class="timeline-font">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                        </div>
                    </div>
                </div>
        </section> -->

        <!-- Experience -->
        <!-- <section id="timeline-section">
            {% for item in site.data.brief-education-experience %}
            {% assign my_counter = my_counter | plus:1 %}
                <h1 class="title">{{item.section}}</h1>
                <div class="timeline">
                    {% for subitem in item.details %}
                    {% assign test = my_counter | modulo: 2 %} 
                    <div {% if test == 1 %}
                        class="container left" 
                        data-aos="swing-in-right-fwd-timeline"
                        {% else %}
                        class="container right"
                        data-aos="swing-in-left-fwd-timeline"
                        {% endif %}
                    >
                        <div class="content">
                            <h2 style="margin-top:0" class="timeline-font">{{subitem.date}}</h2>
                            <h3 class="timeline-font">{{subitem.title}}</h3>
                            <h4 class="timeline-font">{{subitem.subtitle}}</h4>
                            <p class="timeline-font">{{subitem.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section> -->
    </div>

    <!-- Animation on Scroll -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 2000,
            disable: 'mobile'
        });
    </script>
</body>
</html>