---
title: Home
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>						
        <!-- Header -->
        <section class="hero-header" data-aos="fade">
            <div class="hero-title-container">
                <p  id="hero-title"
                    data-aos="fade-right"
                    data-aos-delay="1500"
                >   Aaron Chiu, <br> Automotive Engineer in Training, <br> Emphasizing Quality & Productivity
                </p>
            </div>
        </section>

        <!-- About -->
        <div class="sticky-parent" style="height: 110vh;">
            <section class="about-container" data-aos="about-container" data-aos-duration="1500">
                <div id="about-text" data-aos="about-text">
                    <h1>To apply future engineering approaches to current transportation technologies.</h1>
                    <h2>About</h2>
                    <p>Land, air and sea. Vehicles are everywhere. We take our surroundings for granted but never thoroughly think about how such machines came to be and how they benefit society. I wondered how these vehicles ever worked in the first place. My interest in this field drives me to discover and teach more people about the technologies’ effectiveness and impact.</p>
                </div>
            </section>
        </div>

        <!-- Skills -->
        <div class="sticky-parent" style="height: 110vh;">
            <section class="skills-container" data-aos="skills-container" data-aos-duration="1500">
                <div id="skills-text" data-aos="fade-left">
                    <h1>Experience in<br>
                        <span
                            class="txt-rotate"
                            data-period="1200"
                            data-rotate='[ "Solidworks.", "Materials Testing.", "Statistical Software.", "Mechanical Design.", "Finance." ]'>
                        </span>
                    </h1>
                    <h2>Brief Summary</h2>
                    <p style="margin-bottom:10px">With my proficiency in Solidworks, AutoCAD, CATIA, in addition to interpreting geometric and numeric constraints in technical drawings give me the necessary skills for designing and communicating technical concepts and ideas.</p>

                    <p style="margin-bottom:10px">I more than 40 hours of materials testing experience such as Rockwell and Vickers Hardness tests, I know various treatments and their effects on ferrous and non-ferrous alloys, properties of polymers, and composite materials. This knowledge helps me choose the right material for the job.</p>

                    <p>My knowledge in both mechanical design and material properties will aid my ambitions in motive power, transportation technologies, and heavy industries.</p>
                </div>
            </section>
        </div>


        <!-- Education and Experience -->
        <section id="timeline-section">
            {% for item in site.data.brief-education-experience %}
            {% assign my_counter = my_counter | plus:1 %}
                <h1 class="title">{{item.section}}</h1>
                <div class="timeline">
                    {% for subitem in item.details %}
                    {% assign test = my_counter | modulo: 2 %} 
                    <div {% if test == 1 %}
                        class="container left" 
                        data-aos="swing-in-right-fwd-timeline"
                        {% else %}
                        class="container right"
                        data-aos="swing-in-left-fwd-timeline"
                        {% endif %}
                    >
                        <div class="content">
                            <h2 style="margin-top:0" class="timeline-font">{{subitem.date}}</h2>
                            <h3 class="timeline-font">{{subitem.title}}</h3>
                            <h4 class="timeline-font">{{subitem.subtitle}}</h4>
                            <p class="timeline-font">{{subitem.description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>

        <!-- Navigation Bar -->
        <div class="navbar">
            {% include navigation.html %}
        </div>        

		{% include footer.html %}
	</body>
</html>