<!-- Header -->
<div class="header">
    <h1 id="title" 
        data-aos="fade-right"
    >
        Aaron Chiu
    </h1>
    <p id="subtitle"
        data-aos="fade-right"
        data-aos-delay="500"
    >
        Automotive Engineer in Training
    </p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
    {% for item in site.data.navigation %}
	    <a href="{{ item.link }}" {% if page.url == item.link %}{% endif %}>{{ item.name }}</a>
    {% endfor %}
</div>

<!-- back to top button -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>	