<div class="footer">
    <!-- Contact -->
    <div id="footer-container">
        <div class="footer-sections">
        <h3 class=contact>Permanent Address</h3> 
        <p class=contact>170 Elbern Markell Drive<br>Brampton, ON, L6X 2Z9</p>
        </div>
        
        <div class="footer-sections">
        <h3 class=contact>Current Address</h3> 
        <p class=contact>14 Cottrill Street<br>Hamilton, ON, L8S 3L4</p>
        </div>
        
        <div class="footer-sections">
        <h3 class=contact>Contact Information</h3>
        <p class=contact>chiua10@mcmaster.ca<br>
        <strong>Cell:</strong>  (647) 283-2389</p>
        </div>
    </div>
    <!-- Social Media -->
    <div class="footer-sections">
    <h3 class=contact>Social Media</h3>
    <a href="https://www.facebook.com/profile.php?id=100018624766241" class="fa fa-facebook"></a>
    <a href="https://www.linkedin.com/in/aaron-chiu/" class="fa fa-linkedin"></a>
    </div>
</div>		

<!-- Animation on Scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 2000
    });
</script>