<div class="footer">
    <!-- Contact -->
    <div id="footer-container">
        <div class="footer-sections">
        <h3 class=contact>Permanent <br> Address</h3> 
        <p class=contact>{{site.data.information.permanent-address}}</p>
        </div>
        
        <div class="footer-sections">
        <h3 class=contact>Current <br> Address</h3> 
        <p class=contact>{{site.data.information.current-address}}</p>
        </div>
        
        <div class="footer-sections">
        <h3 class=contact>Contact <br> Information</h3>
        <p class=contact>{{site.data.information.email}}<br>
        <strong>Cell:</strong>  {{site.data.information.phone}}</p>
        </div>
    </div>
    <!-- Social Media -->
    <div class="footer-sections">
    <h3 class=contact>Social Media</h3>
    <a href="{{site.data.information.facebook}}" class="fa fa-facebook"></a>
    <a href="{{site.data.information.linkedin}}" class="fa fa-linkedin"></a>
    </div>
</div>		

<!-- Animation on Scroll -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 2000,
        disable: 'mobile'
    });
</script>

<script src="/assets/js/katex-render.js"></script>