@import "utilities/variables";
@import "utilities/mixins";

.row-calculators {
    @include flexbox-container(row, center, center);
}

.calculators-card {
    height: 325px;
    width: 45%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:link, &:visited {
        color: #111;
        text-decoration: none;
    }

    &:hover, &:active {
        box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.2);
    }

    .calculators-image {
        height: 175px;
        object-fit: cover;
    }

    .calculators-container {
        padding: 0 16px;
    }
}
    
@media screen and (max-width: $timeline-change) {
    .row-calculators {
        flex-direction: column;
    }

    .calculators-card {
        width: 95%;
    }
}

.calculator {
    .select {
        position: relative;
        display: inline-block;
        margin-bottom: 15px;
        width: 75%;
        background: #E6E6E6;
        text-align: center;
        border-bottom: 1px solid map-get($colours, nav);

        select {
            display: inline-block;
            width: 100%;
            cursor: pointer;
            padding: 10px 15px;
            outline: 0;
            border: 0;
            border-radius: 0;
            background: inherit;
            color: #7B7B7B;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        option {
            background: #FFF;
        }
    }

    .select select::-ms-expand {
        display: none;
    }

    .select:hover,
    .select select:focus {
        color: #000000;
        background: #CCCCCC;
    }

    .select select:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .select__arrow {
        position: absolute;
        top: 16px;
        right: 15px;
        width: 0;
        height: 0;
        pointer-events: none;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #7B7B7B transparent transparent transparent;
    }


    .select select:hover ~ .select__arrow,
    .select select:focus ~ .select__arrow {
        border-top-color: #000000;
    }

    .select select:disabled ~ .select__arrow {
        border-top-color: #CCCCCC;
    }

    h1, h2, h3 {
        text-align: center;
    }

    label {
        padding: 10px 5px;
        margin: 5px;
    }

    input[type=number] {
        padding: 4px 10px;
        margin: 5px 10px 10px;
        border: none;
        border-bottom: 1px solid map-get($colours, nav);
    }

    button {
        background-color: #E6E6E6;
        border: none;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;

        &:hover {
            background: #CCCCCC;
        }
    }
}

// Economics
#compound-interest-factors {
    .calculator-header-container {
        @include calculator-header-bar("/assets/images/economics.jpg", rgb(28, 60, 135), #FFF,);
    }

    .multiple-column {
        @include column("#calculation-type", "#calculation-IO", "#calculation-IO-interpolate") {
            text-align: center;
        }    

        @media screen and (max-width: $timeline-change) {
            flex-direction: column;
            flex: 1 0 auto;

            width: auto;
        }
    }
} 

// Depreciation
#depreciation {
    .calculator-header-container {
        @include calculator-header-bar("/assets/images/economics.jpg", rgb(28, 60, 135), #FFF,);
    }

    .multiple-column {
        @include column("#calculation-type", "#calculation-IO-interpolate") {
            text-align: center;
        }     

        @media screen and (max-width: $timeline-change) {
            flex-direction: column;
            flex: 1 0 auto;

            width: auto;
        }
    }
}

#capital-cost-allowance {
    .calculator-header-container {
        @include calculator-header-bar("/assets/images/economics.jpg", rgb(28, 60, 135), #FFF,);
    }

    .multiple-column {
        @include column("#factor-input", "#factor-output") {
            text-align: center;
        }

        @media screen and (max-width: $timeline-change) {
            flex-direction: column;
            flex: 1 0 auto;

            width: auto;
        } 
    }

    .multiple-column {
        @include column("#worth-input-1", "#worth-input-2","#worth-input-3") {
            text-align: center;
        } 

        @media screen and (max-width: $timeline-change) {
            flex-direction: column;
            flex: 1 0 auto;

            width: auto;
        } 
    }

    #worth-input, #worth-output {
        text-align: center;
    }

}

// Binomial
#binomial {
    .calculator-header-container {
        @include calculator-header-bar("/assets/images/statistics.jpg", rgb(25, 38, 78), #FFF);
    }

    .multiple-column {
        @include column("#at-least-X", "#required-trials") {
            text-align: center;
        }

        @media screen and (max-width: $timeline-change) {
            flex-direction: column;
            flex: 1 0 auto;

            width: auto;
        }
    }

    #theory {
        h2, h3 {
            text-align: left;
        }
    }
}