@import "utilities/variables";
@import "utilities/mixins";

html#landing-page {
    scroll-snap-type: y proximity;

    @media screen and (max-width: $side-change){ scroll-snap-type: none; } // Disable snap scroll for mobile

    section {
        height: 100vh; 
        width: 100%; 
        overflow: hidden;
        scroll-snap-align: start;
    }

    h1 {
        font-family: 'Dax', sans-serif;
        font-weight: 400;
        font-size: 4.5vmin;
    }
}

$sidebar-width: calc(2*3px + 2*4px + 2*12px);
#side-navbar {
    @include flexbox-container(column, center, center);
    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    z-index: 1000;
    left: 0; 
    top: 0;
    background: map-get($colours, nav);

    .side-button { 
        @include flexbox-container(row, center, center) { flex-wrap: nowrap; };
        cursor: pointer; 
        width: inherit;
        height: 40px;
 
        .bar1, .bar2 {
            height: inherit; 
            width: 3px;
            background-color: map-get($colours, footer);
            transition: 0.5s;
        }

        .bar1 {
            margin-left: 12px;
            margin-right: 4px;
        }
        
        .bar2 { 
            margin-left: 4px;
            margin-right: 12px; 
        }

        .change.bar1 {
            -webkit-transform: rotate(30deg) translate(7px, 0px);
            transform: rotate(30deg) translate(7px, 0px);
        }

        .change.bar2 {
            -webkit-transform: rotate(-30deg) translate(-7px, 0px);
            transform: rotate(-30deg) translate(-7px, 0px);
        }
    }
}

.aside-section {
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.aside-left {
    width: calc(35% - #{$sidebar-width});
    left: $sidebar-width;
    background-color: #ff5964;
    -webkit-transform: translateX(calc(-100% - #{$sidebar-width}));
    -moz-transform: translateX(calc(-100% - #{$sidebar-width}));
    -ms-transform: translateX(calc(-100% - #{$sidebar-width}));
    -o-transform: translateX(calc(-100% - #{$sidebar-width}));
    transform: translateX(calc(-100% - #{$sidebar-width}));
    transition: transform 0.4s ease-in-out; 

    img {
        height: 300px;
        width: 250px;
        padding: 20px;

        position: fixed;
        bottom: 20px;
        right: 30px;
        left: auto;
        border-radius: 50%;
        display: none;

        @media screen and (max-width: $timeline-change) {
            display: unset;
        }
    }

    @media screen and (max-width: $timeline-change) {
        width: 100%;
    }
}
  
.aside-right {
    display: block;
    width: 65%;
    right: 0;
    background-color: #38618c;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    @media screen and (max-width: $timeline-change) { display: none; }
}
  
.aside-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 150px;
    text-align: left;
    padding-left: 50px;
    
    li { margin-bottom: 20px; }
}
  
.aside-content {
    margin-top: 150px;
    padding: 0 40px;
    position: relative;
    color: white;
    text-align: center;
    
    h1 {
        font-family: 'Dax', sans-serif;
        font-weight: 400;
        font-size: 4.5vmin;

        @include underline-heading-ornament (white, center);
    }

    #contact-side-nav {
        @include flexbox-container(row, center, center);

        img {
            height: 300px;
            width: 250px;
            padding: 20px;
        }

        & > div:nth-of-type(1) {
            height: 300px;
            width: 250px;
        }

        & > div:nth-of-type(2) {
            width: 250px;
            height: 300px;

            @media screen and (max-width: 1400px) {
                width: 500px;
                height: 150px;

                div {
                    display: inline-block;
                    width: 250px;
                }

                div:nth-of-type(1) {
                    float: left;
                }
            }
        }
    }
}
  
.aside-anchor::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #ff5964;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 3px;
}
  
.aside-anchor::before {
    border-radius: 3px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    left: 0;
    height: 3px;
    z-index: 100;
    width: 50%;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
  
.aside-anchor:hover:before {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
  
.aside-anchor {
    padding-bottom: 7px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    font-weight: 500;
}

.show-aside.aside-left  { transform: translateY(0%); }
.show-aside.aside-right { transform: translateX(0%); }

// -----------------------------------------------------------------------------
// begin of main content
// -----------------------------------------------------------------------------
#main-wrapper {
    margin-left: $sidebar-width;
    margin-right: 0;
}

#hero-header {
    @include flexbox-container(column, center, center);
    @include centerScaleBackground("/assets/images/engineering-plans.jpg");
    background-attachment: fixed;

    .hero-title {
        margin: 0;
        width: 75vw;
        display: block;

        font-family: 'Dax', sans-serif;
        font-weight: 400;
        font-size: 7.5vmin;
        color: white;
    }
}

#about-container {
    // border shadow in animation.scss
    @include flexbox-container(row, flex-start, center);
    @include centerScaleBackground("/assets/images/partial-engine.jpg");

    @media screen and (max-width: $side-change) { box-shadow: none; } // different shadow on mobile
    
    /* About actual content */
    #about-text {
        max-width: 50vw;
        flex: 1 0 auto;
        padding: 6vw 8vw;

        h1, h2, p {
            padding: 20px;
            margin: 0;
        }

        h1 { 
            font-family: 'Dax', sans-serif;
            font-weight: 400;
            font-size: 4.5vmin;

            @media screen and (max-width: $side-change) { font-size: 3.75vh; }
        }

        /* Underline after title */
        h2 { @include underline-heading-ornament; }
        
        /* Paragraph */
        p { padding: 0px 20px; }

        @media screen and (max-width: $side-change) {
            flex: 1 0 90%;
            max-width: 90%;
            padding: 10%;
            background: white;

            P {
                font-size: 2vh;
            }
        }
    }
}

#skills-container {
    // border shadow in animation.scss
    @include flexbox-container(row, flex-end, center);
    @include centerScaleBackground("/assets/images/turbocharger-inside.jpg");
    background-color: #111;

    /* About actual content */
    #skills-text {
        flex: 1 0 auto;
        max-width: 50vw;
        padding: 6vw 8vw;

        h1, h2, p{
            padding: 20px;
            margin: 0;

            color: white;
        }
        
        h1 {
            height: 15vmin;

            @media screen and (max-width: 900px) {
                height: 20vmin;
            }

            @media screen and (max-width: $side-change) {
                height: 11.5vh;
                font-size: 3.75vh; 
            }
        }

        /* Underline after Title */
        h2 { @include underline-heading-ornament(white); }

        /* Paragraph */
        p {
            font-family: 'RobotoCondensed', sans-serif;
            font-weight: 400;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0 0 10px 0;

            last-child { margin-bottom: 0px; } // last paragraph margin to 0
        }

        @media screen and (max-width: $side-change) {
            flex: 1 0 90%;
            max-width: 90%; 
            padding: 10%; 
            background: #111;

            p { font-size: 2vh; }
        }
    } 
}

#education-container {
    background-color: white;
    height: 80vh !important;

    @media screen and (max-width: $side-change), (max-height: 900px) {
        height: 100vh !important;
    }

    h1 { 
        padding: 30px 6vw 10px; 
        margin: 0;

        @include adaptive-text(32px);
    }

    #education-card-row {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 10px repeat(2, calc(70% - 10px)) 10px;
        grid-template-rows: minmax(150px, 1fr);
        grid-auto-flow: column;
        overflow-x: scroll; 
        
        height: 65vh;
        padding: 20px 0;
        
        /* change height of section */
        @media screen and (max-width: $side-change), (max-height: 900px) { height: 85vh; }

        @media screen and (min-width: $content-width) {
            grid-template-columns: 10px repeat(2, calc(50% - 30px - 40px)) 10px;
        }

        /* scrollbar */
        &::before, &::after { content: ''; } 
        &::-webkit-scrollbar { width: 10px; } // width
        
        &::-webkit-scrollbar-track { //track
            background: white; 

            margin-left: 50px; 
            margin-right: 50px;
        }
        
        &::-webkit-scrollbar-thumb { background: #888; } // handle 
        &::-webkit-scrollbar-thumb:hover { background: #555; } // handle on hover
    }

    #education-text-card {    
        @include flexbox-container(row, flex-start, center); 
        box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);

        #side-img {
            width: 50%;

            // background image defined in html
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        } 
 
        /* Title */
        h2 {  
            width: 50%;
            margin: auto;
 
            font-family: 'NotoSans', sans-serif;
            @include adaptive-text(24px);
            text-align: center;
            align-self: center;
        }

        h3, h4, dl, ul {
            padding: 0px 20px; 

            font-family: 'NotoSans', sans-serif;
            @include adaptive-text(12px);
            color: #fff;
        }

        h3, h4 { 
            margin: 15px 0px 0px 0px ;
        }

        h3 { @include adaptive-text(16px); }

        dd {
            margin: 0px 0px 0px 20px;
        }

        ul {
            padding: 0px 20px 0px 40px;
        } 
    } 
}

#experience-container {
    height: fit-content !important; 

    h1 {
        padding: 40px 6vw 10px; 
        margin: 0;

        @media screen and (max-width: 900px) {
            height: 10vmin;
        }

        @media screen and (max-width: $side-change) {
            height: 11.5vh;
            font-size: 3.75vh;
        }
    }

    #experience-card-container {
        @include flexbox-container(row, center, center);
        padding: 15px;
    }

    @media screen and (max-width: $side-change) { flex-direction: column; }
}


.experience-card {
    height: 450px;
    width: 45%; 
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $side-change) { width: 95%; }
    @media screen and (min-width: $content-width) { width: 500px; }

    .experience-image {
        height: 175px;
        object-fit: cover;
    }

    .experience-description-container {
        padding: 0 16px;
 
        h2, h3, li { font-family: 'NotoSans', sans-serif; }

        h2 { @include adaptive-text(18px); }

        h3 { @include adaptive-text(16px); }

        ul { padding-left: 30px; }
        li { @include adaptive-text(12px); }
    }
}

// -------------------------------------

// Configuration: 
$animation-delay: 2s;
$duration: 800ms;
$iterations: 1;

// --------------------------------------

.reveal-text, .reveal-text:after {
	animation-delay: $animation-delay;
	animation-iteration-count: $iterations;
	animation-duration: $duration;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	display: block;
	user-select: none;
	animation-name: reveal-text;
	color: black;
	white-space: nowrap;
	
	&:after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: revealer-text;
	}
}

@keyframes reveal-text {
	from    { clip-path: inset(0 100% 0 0); }
	to      { clip-path: inset(0 0 0 0);    }
}


@keyframes revealer-text {
	0%, 50% { transform-origin: 0 50%; }
	60%, 100% { transform-origin: 100% 50%; }

	50% { transform: scaleX(1); }
	60% { transform: scaleX(1); }
	100% { transform: scaleX(0); }
}