/* Dax */
@font-face { /* (900) Black */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax-Black.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}
@font-face { /* (800) Extra Bold */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax-ExtraBlack.ttf);
	font-weight: 	800;
	font-style: 	normal;
}
@font-face { /* (700) Bold */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax-Bold.ttf);
	font-weight: 	bold;
	font-style: 	normal;
}
@font-face { /* (500) Medium */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax-Medium.ttf);
	font-weight: 	500;
	font-style: 	normal;
}
@font-face { /* (400) Regular */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}
@font-face { /* (300) light */
	font-family: 	'Dax';
	src: 			url(../fonts/Dax/Dax-Light.ttf);
	font-weight: 	300;
	font-style: 	normal;
}

/* Dax Condensed */
@font-face { /* (400) Regular */
	font-family: 	'DaxCondensed';
	src: 			url(../fonts/DaxCondensed/DaxCondensed.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}

/* Noto Sans */
/* Not all fonts imported */
@font-face { /* (400) Regular */
	font-family: 	'NotoSans';
	src: 			url(../fonts/NotoSans/NotoSans-Regular.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}



/* Roboto */
@font-face { /* (900) Black */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Black.ttf);
	font-weight: 	900;
	font-style: 	normal;
}
@font-face { /* (900) Black Italic */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-BlackItalic.ttf);
	font-weight: 	900;
	font-style: 	italic;
}
@font-face { /* (700) Bold */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Bold.ttf);
	font-weight: 	bold;
	font-style: 	normal;
}
@font-face { /* (700) Bold Italic */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-BoldItalic.ttf);
	font-weight: 	bold;
	font-style: 	italic;
}
@font-face { /* (500) Medium */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Medium.ttf);
	font-weight: 	500;
	font-style: 	normal;
}
@font-face { /* (500) Medium Italic */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-MediumItalic.ttf);
	font-weight: 	500;
	font-style: 	italic;
}
@font-face { /* (400) Regular */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Regular.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}
@font-face { /* (400) Regular Italic */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Italic.ttf);
	font-weight: 	normal;
	font-style: 	italic;
}
@font-face { /* (300) Light */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Light.ttf);
	font-weight: 	300;
	font-style: 	normal;
}
@font-face { /* (300) Light Italic */

	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-LightItalic.ttf);
	font-weight: 	300;
	font-style: 	italic;
}
@font-face { /* (100) Thin */	
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-Thin.ttf);
	font-weight: 	100;
	font-style: 	normal;
}
@font-face { /* (100) Thin Italic */
	font-family: 	'Roboto';
	src: 			url(../fonts/Roboto/Roboto-ThinItalic.ttf);
	font-weight: 	100;
	font-style: 	italic;
}

/* Roboto Condensed */
@font-face { /* (700) Bold */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
	font-weight: 	bold;
	font-style: 	normal;
}
@font-face { /* (700) Bold Italic */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf);
	font-weight: 	bold;
	font-style: 	italic;
}
@font-face { /* (400) Regular */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
	font-weight: 	normal;
	font-style: 	normal;
}
@font-face { /* (400) Regular Italic */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf);
	font-weight: 	normal;
	font-style: 	italic;
}
@font-face { /* (300) Light */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-Light.ttf);
	font-weight: 	light;
	font-style: 	normal;
}
@font-face { /* (300) Light Italic */
	font-family: 	'RobotoCondensed';
	src: 			url(../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf);
	font-weight: 	light;
	font-style: 	italic;
}

/* Mohave */
@font-face { /* (700) Bold */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-Bold.otf);
	font-weight: 	bold;
	font-style: 	normal;
}
@font-face { /* (700) Bold Italic */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-BoldItalic.otf);
	font-weight: 	bold;
	font-style: 	italic;
}
@font-face { /* (500) Medium */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-Medium.otf);
	font-weight: 	500;
	font-style: 	normal;
}
@font-face { /* (500) Medium Italic */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-MediumItalic.otf);
	font-weight: 	500;
	font-style: 	italic;
}
@font-face { /* (400) Regular */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-Regular.otf);
	font-weight: 	normal;
	font-style: 	normal;
}
@font-face { /* (400) Regular Italic */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-Italic.otf);
	font-weight: 	normal;
	font-style: 	italic;
}
@font-face { /* (300) Light */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-Light.otf);
	font-weight: 	light;
	font-style: 	normal;
}
@font-face { /* (300) Regular Italic */
	font-family: 	'Mohave';
	src: 			url(../fonts/Mohave/Mohave-LightItalic.otf);
	font-weight: 	light;
	font-style: 	italic;
}