/* Center and scale the image nicely */
@mixin centerScaleBackground($image, $n){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($image);
}

/* flexbox container*/ 
@mixin flexbox-container($direction, $justify: flex-start, $align: flex-start) {
    display: flex;
	flex-flow: $direction wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin column($children...) {
    @include flexbox-container(row, flex-start, flex-start);
    @for $i from 0 to length($children) {
        #{nth($children, $i+1)} {
            flex: 1 0 100/length($children)*1%;
            @content
        }
    }
}