/* Colour Scheme */
$colours: (
    background: #f1f1f1, /* Gray */
    header: #1abc9c, /* Turquois */
    footer: #ddd, /* Dark Gray */
    nav: #333,
    highlight: #ff5964,
    auxillery: #38618c
);

/* Dimensions */
$content-width: 1200px;
$side-width: 275px;
$total-width: 1475px;

/* Responsiveness transitions */
$timeline-change: 950px;
$side-change: 700px;
$picture-blurb-change: 500px;