---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>						
		{% include default-header.html %}

		<div class="row">
			<div class="side">
                {% case page.type %}
                    {% when "calculator" %}
                        {% for item in site.data.sub-pages.calculators %}
                            <h2>{{item.title}}</h2>
                            {% for page in item.pages %}
                                <a href="{{page.link}}">{{page.name}}</a><br>
                            {% endfor %}
                        {% endfor %}
                    {% when "course" %}
                        {% for item in site.data.sub-pages.courses %}
                            <h2>{{item.title}}</h2>
                            {% for page in item.pages %}
                                <a href="{{page.link}}">{{page.name}}</a><br>
                            {% endfor %}
                        {% endfor %}
                {% endcase %}
			</div>
			<div class="main">
				<!-- Content -->
				{{ content }}
			</div>
		</div>
		
		{% include footer.html %}
	</body>
</html>