---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>				
		<!-- back to top button -->
		<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>	
		
		<script>
		//Get the button
		var mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function() {scrollFunction()};

		function scrollFunction() {
		  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = "block";
		  } else {
			mybutton.style.display = "none";
		  }
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
		  document.body.scrollTop = 0;
		  document.documentElement.scrollTop = 0;
		}
		</script>
		
		<!-- Header -->
		<div class="header">
			<h1 id=title>Aaron Chiu</h1>
			<p id=subtitle>Automotive Engineer in Training</p>
		</div>

		<!-- Navigation Bar -->
		<div class="navbar">
			{% include navigation.html %}
		</div>
		{{ content }}
		
		<!-- Footer -->
		<div class="footer">
			<!-- Contact -->
			<div id="footer-container">
				<div class="footer-sections">
				<h3 class=contact>Permanent Address</h3> 
				<p class=contact>170 Elbern Markell Drive<br>Brampton, ON, L6X 2Z9</p>
				</div>
				
				<div class="footer-sections">
				<h3 class=contact>Current Address</h3> 
				<p class=contact>14 Cottrill Street<br>Hamilton, ON, L8S 3L4</p>
				</div>
				
				<div class="footer-sections">
				<h3 class=contact>Contact Information</h3>
				<p class=contact>chiua10@mcmaster.ca<br>
				<strong>Cell:</strong>  (647) 283-2389</p>
				</div>
			</div>
			<!-- Social Media -->
			<div class="footer-sections">
			<h3 class=contact>Social Media</h3>
			<a href="https://www.facebook.com/profile.php?id=100018624766241" class="fa fa-facebook"></a>
			<a href="https://www.linkedin.com/in/aaron-chiu/" class="fa fa-linkedin"></a>
			</div>
		</div>		
	</body>
</html>