<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<!-- icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{% feed_meta %}
		{% seo %}
	</head>
	<body>
		<!-- Header -->
		<div class="header">
			<h1 id=title>Aaron Chiu</h1>
			<p id=subtitle>Automotive Engineer in Training</p>
		</div>

		<!-- Navigation Bar -->
		<div class="navbar">
			{% include navigation.html %}
		</div>
		
		<!-- The flexible grid (content) -->
		<div class="row">
			<div class="side">
				<h2>About Me</h2>
				<div id="side-container">
					<img src="/assets/images/me.jpg" alt="Aaron Chiu Photo" id="side-picture";>
					<p id="side-blurb">Land, air and sea. Vehicles seem to be everywhere and anywhere. We seem to take our surroundings for granted but never thoroughly thought how such machines came to be and how they benefit society so much. I wondered how these vehicles ever worked in the first place. As a person whose interests lie in this field, I'd like more people to know about these machines and how useful they are.</p>
				</div>
				
				<!-- Contact -->
				<h3>More Text</h3>
				<p>Lorem ipsum dolor sit ame.</p>
				<div class="fakeimg" style="height:60px;">Image</div><br>
				<div class="fakeimg" style="height:60px;">Image</div><br>
				<div class="fakeimg" style="height:60px;">Image</div>
			</div>
			<div class="main">
				<!-- Content -->
				{{ content }}
			</div>
		</div>
		<!-- Footer -->
		<div class="footer">
			<!-- Contact -->
			<div id="footer-container">
				<div class="footer-sections">
				<h3 class=contact>Permanent Address</h3> 
				<p class=contact>170 Elbern Markell Drive<br>Brampton, ON, L6X 2Z9</p>
				</div>
				
				<div class="footer-sections">
				<h3 class=contact>Current Address</h3> 
				<p class=contact>14 Cottrill Street<br>Hamilton, ON, L8S 3L4</p>
				</div>
				
				<div class="footer-sections">
				<h3 class=contact>Contact Information</h3>
				<p class=contact>chiua10@mcmaster.ca<br>
				<strong>Cell:</strong>  (647) 283-2389</p>
				</div>
				
				<div class="footer-sections">
				<!-- Social Media -->
				<h3 class=contact>Social Media</h3>
				<a href="https://www.facebook.com/profile.php?id=100018624766241" class="fa fa-facebook"></a>
				<a href="https://www.linkedin.com/in/aaron-chiu/" class="fa fa-linkedin"></a>
				</div>
			</div>
		</div>		
	</body>
</html>