---
layout: default
---
<!-- The flexible grid (content) -->
<div class="row">
	<div class="side">
		<h2>About Me</h2>
		<div id="side-container">
			<img src="/assets/images/me.jpg" alt="Aaron Chiu Photo" id="side-picture";>
			<p id="side-blurb">Land, air and sea. Vehicles seem to be everywhere and anywhere. We seem to take our surroundings for granted but never thoroughly thought how such machines came to be and how they benefit society so much. I wondered how these vehicles ever worked in the first place. As a person whose interests lie in this field, I'd like more people to know about these machines and how useful they are.</p>
		</div>
				
		<!-- Contact -->
		<h3>More Text</h3>
		<p>Lorem ipsum dolor sit ame.</p>
		<div class="fakeimg" style="height:60px;">Image</div><br>
		<div class="fakeimg" style="height:60px;">Image</div><br>
		<div class="fakeimg" style="height:60px;">Image</div>
	</div>
	<div class="main">
		<!-- Content -->
		{{ content }}
	</div>
</div>