---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>						
		{% include default-header.html %}

		<div class="row">
			<div class="side">
                {% for item in site.data.calculators %}
                    <h2>{{item.title}}</h2>
                    {% for calculator in item.calculators %}
                        <a href="{{calculator.link}}">{{calculator.name}}</a><br>
                    {% endfor %}
                {% endfor %}
			</div>
			<div class="main">
				<!-- Content -->
				{{ content }}
			</div>
		</div>
		
		{% include footer.html %}
	</body>
</html>