---
---
<!doctype html>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>						
		{% include default-header.html %}

		<div class="row">
			<div class="side">
				<h2>About Me</h2>
				<div id="side-container">
					<img src="/assets/images/me.jpg" alt="Aaron Chiu Photo" id="side-picture";>
					<p id="side-blurb">Land, air and sea. Vehicles are everywhere. We take our surroundings for granted but never thoroughly think about how such machines came to be and how they benefit society. I wondered how these vehicles ever worked in the first place. My interest in this field drives me to discover and teach more people about the technologies’ effectiveness and impact.</p>
				</div>
						
				<!-- Contact -->
				<!-- <h3>More Text</h3>
				<p>Lorem ipsum dolor sit ame.</p>
				<div class="fakeimg" style="height:60px;">Image</div><br>
				<div class="fakeimg" style="height:60px;">Image</div><br>
				<div class="fakeimg" style="height:60px;">Image</div> -->
			</div>
			<div class="main">
				<!-- Content -->
				{{ content }}
			</div>
		</div>
		
		{% include footer.html %}
	</body>
</html>